.slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100vw;
}

.img-container {
    display: flex;
    flex: row nowrap;
    /* width: 2400px; */
    transition: transform 0.6s;
}

.img-container img {
    width: 600px;
    height: 600px;
    max-height: 70vh;
}

.show-container {
    overflow: hidden;
    min-height: 400px;
    width: 600px;
}

.setting {
    background-color: #282c34;
    color: #fff;
    border: 2px solid #13a303;
    border-radius: 20px;
    padding: 0.5em 4em;
    font-size: 1.4em;
}

main .slider .img-container.fade-in {
    display: block;
    position: relative;
    width: 600px;
    height: 600px;
    max-height: 70vh;
}

main .slider .img-container.fade-in img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.6s;
}

main .slider .img-container.fade-in img.current {
    opacity: 1;
}

.dot-wrap .dot {
    width: 35px;
    height: 35px;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid #13a303;
    background-color: #282c34;
}

.dot-wrap .dot.current-dot {
    background-color: #fff;
}
